
<div style="width: 90%; position: relative; margin: auto;">
    <h1>LOGIN</h1>
    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Email</label>
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="staticEmail" value="email@example.com" style="background-color: white;" #email>
    </div>

    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Password</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="background-color: white;" #pass>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-outline-light" (click)="send(email, pass)">Iniciar sesion</button> 

    <button type="button" class="btn btn-outline-light" routerLink="../registro">Registrarse</button>

</div>

