
<div style="width: 90%; position: relative; margin: auto;">
    <h1>ASIGNACION</h1>
    <!-- idAsignacion, student, course, section, day, hour -->
    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">ID Asignacion</label>
    <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext" id="staticEmail"  style="background-color: white;" #idAsignacion>
    </div>

    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Estudiante</label>
    <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext"   style="background-color: white;" #student>
    </div>
    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Curso</label>
    <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext"   style="background-color: white;" #course>
    </div>
    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Seccion</label>
    <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext"   style="background-color: white;" #section>
    </div>
    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Dia</label>
    <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext"   style="background-color: white;" #day>
    </div>
    <label for="staticEmail" class="col-sm-2 col-form-label" style="color: black;">Hora</label>
    <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext"   style="background-color: white;" #hour>
    </div>

    <br>
    <br>
    <button type="button" class="btn btn-outline-light" (click)="send(idAsignacion, student, course, section, day, hour)">Asignar</button> 


</div>